<h3 class="f-w-b">How to apply for your mortgage</h3>
<p>You can continue and complete your mortgage application by choosing from one of the options below.</p>
<div class="d-f">
    <div class="f-i">
        <div>
            <h4 class="center f-w-b">Online</h4>
            <h5 class="center f-w-b">Without Advice</h5>
            <div>
                Continue online if you're comfortable selecting your own
                mortgage. You'll choose and select a mortgage from our
                range without receiving advice from a
                Bank Mortgage Adviser.
            </div>
            <h4 class="f-w-b">What happens next?</h4>
            <p>You can continue online and complete a mortgage application straight away.</p>
            <p>In most cases, we'll be able to give you an instant decision,subject to checking any documents we ask you
                to send us and a satisfactory valuation of the property.</p>
            <p>
                If you're making a jo int application online, both applicants can view the information provided and
                documents submitted. Bank may share information about you and any information returned as part of
                the credit search with all applications.
            </p>
            <div>
                <button mat-flat-button color="warn" class="continue-btn" (click)="continue()">Continue Online</button>
            </div>
        </div>
    </div>
    <div class="f-i">
        <div>
            <h4 class="center f-w-b">By phone</h4>
            <h5 class="center f-w-b">With advice</h5>
            <div>
                Continue by phone and one of our Bank Mortgage
                Adviser will advioe and make a
                mortgage recommendation based on your circumstances.
            </div>
            <h4 class="f-w-b">What happens next?</h4>
            <p>
                We'll send you an email within one working day, which will allow you to upload documents to oonfirm your
                income details.
            </p>
            <p>
                We'll then call you back, reconfirm the details you'he provided and complete the application with you by
                phone.In most cases we'll be able to give you an instant decision,subject to checking any documents we
                ask you to send us and a satisfactory valuation of the property.
            </p>
            <p>
                You won't be able to log back into this application and continue online.
            </p>
            <div>
                <button mat-flat-button color="warn" class="continue-btn" (click)="continue()">Continue By Phone</button>
            </div>
        </div>
    </div>
</div>