Offerings
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="slide"><img src="" />st</div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide"><img src="" />st</div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide"><img src="" />st</div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide"><img src="" />st</div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide"><img src="" />st</div>
  </ng-template>
</owl-carousel-o>
