.bg-red {
  background-color: #ec0000;
}

img {
  height: 20px;
}
header {
  color:white;
}
.j-c-b{
  justify-content: space-between;
}
.d-f{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.f-i {
  padding: 0 10px;
}