.bg-blue-wrapper {
  background-color: whitesmoke;
}

.content-wrapper {
  width: 50%;
  padding: 6% 8%;
  margin: auto;
  background-color: #fff;
}

.content {
  background-color: cornsilk;
  padding: 20px;
}

.form-wrapper {
  padding: 0px 6%;
}

.logo {
  height: 25px;
  padding-top: 7px;
}

.logo-wrapper {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

.login {
  border-radius: 25px;
}

.alternate-section {
  padding-top: 20px;
}
.alternate-section span {
  display: block;
}
