.d-f {
  display: flex;
}
.f-i {
  width: 50%;
  padding: 0 2%;
}
.center {
  text-align: center;
}
.continue-btn {
  float: right;
  border-radius: 25px;
}
.f-w-b {
  font-weight: bold;
}

.bg-red {
  background-color: #ec0000;
  flex-wrap: wrap;
  color: white;
}
.option {
  word-break: break-all;
  margin: 0 1%;
  font-size: 15px;
}
.oval-btn {
  border-radius: 25px;
}
