.d-f {
  display: flex;
}
.f-i {
  width: 50%;
  padding: 0 2%;
}
.center {
  text-align: center;
}
.oval-btn {
  border-radius: 25px;
  float: right;
}
.f-w-b {
  font-weight: bold;
}
.selected {
  background-color: lightgrey;
}
